*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: white;
    color: #3d3b3a; 
    padding-bottom: 0px; 
    position: relative; 
}
#header{
    width: 100%;
    height: 100%;
    
}
.container{
    padding: 10px 10%;
    
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 300px;
    height: auto; 
    position: relative;
    left: -45px;
}
.logo-text {
    font-size: 18px;
    color: #3d3b3a;
    
    margin-right: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #3d3b3a;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #3d3b3a;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 1s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;

}
.header-text h1{
    font-family: 'Quando', sans-serif;
    font-size: 65px;
    margin-top: 20px;
    color: #3d3b3a;
}
.duvidas-button{
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    margin-top: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}
.duvidas-button:hover {
    transform: scale(1.03); 
}
#header {
    position: relative; 
}
footer {
    position: relative; 
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: #111111f3;
    color: #fff;
    padding: 50px 0;
    margin-top: 242px;
}

footer .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 10%;
}

.footer-block {
    flex: 1;
    text-align: center;
}

.footer-block a {
    text-decoration: none;
    color: inherit;
}

.footer-block h2 {
    margin-bottom: 10px;
    font-family: "Libre Baskerville", serif;
}

.footer-block p {
    margin-left: -21px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #ccc;
    font-family: "Inter", sans-serif;
}

.footer-block img {
    margin-right: 5px;
    vertical-align: middle;
}

.social-icon {
    margin-top: 6px;
    margin-left: 10px;
    transition: transform 0.4s;
}

.social-icon:hover {
    transform: scale(1.2);
}

.footer-copyright {
    position: relative;
    color: #ccc;
    font-size: 12px;
    text-align: right;
    margin-top: 00px;
    padding-right: 20px;
    bottom: -38px; 
}
.me {
    position: relative;
    color: #ccc;
    font-size: 12px;
    text-align: right;
    margin-top: 2px;
    padding-right: 20px;
    bottom: -38px;
}











/* Estilos para telas pequenas */
@media screen and (max-width: 768px) {
    footer .container {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-block {
        margin-bottom: 30px; 
    }
}


@media screen and (max-width: 768px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text {
        margin-top: 10%; 
        font-size: 20px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }
}
@media screen and (max-width: 768px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: 9px; 
    }
}



@media screen and (max-width: 576px) {
    footer .container {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-block {
        margin-bottom: 30px; 
    }

    .logo {
        width: 200px; 
    }

    .header-text {
        margin-top: 8%; 
        font-size: 18px; 
    }

    .duvidas-button {
        margin-top: 15px; 
        font-size: 12px; 
    }

    footer {
        margin-top: 100px;
    }

    nav {
        flex-direction: column; 
        align-items: center; 
    }

    nav ul {
        margin-top: 15px; 
    }

    nav ul li {
        margin-right: 0; 
        margin-bottom: 8px; 
    }
}





@media screen and (max-width: 480px) {
    footer .container {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-block {
        margin-bottom: 20px; 
    }

    .logo {
        width: 230px; 
    }

    .header-text {
        margin-top: 6%; 
        font-size: 11px; 
    }

    .duvidas-button {
        margin-top: 10px; 
        font-size: 12px;
    }

    footer {
        margin-top: 80px; 
    }

    nav {
        flex-direction: column; 
        align-items: center; 
    }

    nav ul {
        margin-top: 10px; 
    }

    nav ul li {
        margin-right: 0; 
        margin-bottom: 6px; 
    }
}



/* Estilos para telas ainda menores */
@media screen and (max-width: 300px) {
    footer .container {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-block {
        margin-bottom: 15px; 
    }

    .logo {
        width: 170px; 
    }

    .header-text {
        margin-top: 4%; 
        font-size: 10px; 
    }

    .duvidas-button {
        margin-top: 5px; 
        font-size: 12px; 
    }

    footer {
        margin-top: 60px; 
    }

    nav {
        flex-direction: column; 
        align-items: center; 
    }

    nav ul {
        margin-top: 5px; 
    }

    nav ul li {
        margin-right: 0; 
        margin-bottom: 4px; 
    }
}


/* Estilos para telas ainda menores */
@media screen and (max-width: 360px) {
    footer .container {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-block {
        margin-bottom: 15px; 
    }

    .logo {
        width: 170px; 
    }

    .header-text {
        margin-top: 4%; 
        font-size: 14px; 
    }

    .duvidas-button {
        margin-top: 5px; 
        font-size: 12px; 
    }

    footer {
        margin-top: 60px; 
    }

    nav {
        flex-direction: column; 
        align-items: center; 
    }

    nav ul {
        margin-top: 5px; 
    }

    nav ul li {
        margin-right: 0; 
        margin-bottom: 4px; 
    }
}




/* Estilos para telas ainda menores */
@media screen and (max-width: 420px) {
    footer .container {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-block {
        margin-bottom: 15px; 
    }

    .logo {
        width: 170px; 
    }

    .header-text {
        margin-top: 4%; 
        font-size: 10px; 
    }

    .duvidas-button {
        margin-top: 5px; 
        font-size: 12px; 
    }

    footer {
        margin-top: 60px; 
    }

    nav {
        flex-direction: column; 
        align-items: center; 
    }

    nav ul {
        margin-top: 5px; 
    }

    nav ul li {
        margin-right: 0; 
        margin-bottom: 4px; 
    }
}




@media screen and (max-width: 390px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 55px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -3px; 
    }
}



@media screen and (max-width: 430px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 58px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -3px; 
    }
}



@media screen and (max-width: 386px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 55px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -4px; 
    }
}




@media screen and (max-width: 324px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 36px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-left: -15;
        
    }
}




@media screen and (max-width: 370px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -7px; 
    }
}

@media screen and (max-width: 372px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -7px; 
    }
}


@media screen and (max-width: 378px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -7px; 
    }
}


@media screen and (max-width: 354px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -10px; 
    }
}


@media screen and (max-width: 380px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 45px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -7px; 
    }
}


@media screen and (max-width: 360px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -9px; 
    }
}


@media screen and (max-width: 366px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -9px; 
    }
}


@media screen and (max-width: 354px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -10px; 
    }
}


@media screen and (max-width: 356px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -10px; 
    }
}


@media screen and (max-width: 348px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -11px; 
    }
}


@media screen and (max-width: 350px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -11px; 
    }
}


@media screen and (max-width: 346px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -12px; 
    }
}


@media screen and (max-width: 282px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 39px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -11px; 
    }
}



@media screen and (max-width: 286px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 42px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -11px; 
    }
}


@media screen and (max-width: 300px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 43px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -11px; 
    }
}


@media screen and (max-width: 316px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 44px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -11px; 
    }
}


@media screen and (max-width: 318px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 44px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -11px; 
    }
}




@media screen and (max-width: 324px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 44px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -11px; 
    }
}



@media screen and (max-width: 334px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 47px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: 0px; 
    }
}


@media screen and (max-width: 230px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 34px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 13px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: 0px; 
    }
}


@media screen and (max-width: 262px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 38px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: 0px; 
    }
}


@media screen and (max-width: 388px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 53px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -3px; 
    }
}


@media screen and (max-width: 384px) {
    .logo {
        width: 250px; 
        position: relative;
        align-items: center;
        left: 0;
    }

    .header-text h1{
        margin-top: 10%; 
        font-size: 53px; 
        text-align: center; 
    }

    .duvidas-button {
        margin-top: 20px; 
        font-size: 14px; 
    }

    footer {
        margin-top: 150px; 
    }


    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -4px; 
    }
}


@media screen and (max-width: 386px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -4px; 
    }
}

@media screen and (max-width: 378px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -7px; 
    }
}

@media screen and (max-width: 380px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -5px; 
    }
}

@media screen and (max-width: 372px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -6px; 
    }
}
@media screen and (max-width: 360px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -9px; 
    }
}


@media screen and (max-width: 336px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -20px; 
    }
    .header-text h1{
        margin-top: 10%; 
        font-size: 44px; 
        text-align: center; 
    }

}


@media screen and (max-width: 276px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -6px; 
    }
    .header-text h1{
        margin-top: 10%; 
        font-size: 40px; 
        text-align: center; 
    }

}

@media screen and (max-width: 226px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -6px; 
    }
    .header-text h1{
        margin-top: 10%; 
        font-size: 32px; 
        text-align: center; 
    }

}


@media screen and (max-width: 364px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -8px; 
    }
    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

}

@media screen and (max-width: 376px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -7px; 
    }
    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

}

@media screen and (max-width: 366px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -12px; 
    }
    .header-text h1{
        margin-top: 10%; 
        font-size: 50px; 
        text-align: center; 
    }

}

@media screen and (max-width: 322px) {
    nav {
        flex-direction: row; 
        justify-content: center; 
    }

    nav ul {
        margin-top: 20px; 
    }

    nav ul li {
        margin-right: -7px; 
    }
    .header-text h1{
        margin-top: 10%; 
        font-size: 44px; 
        text-align: center; 
    }

}






